@media (max-width: 600px) {

    .about {
        width: 100%;
    }

}

@media (min-width: 601px) {

    .about {
        width: 1000px;
        background-color: red;
    }

}

@media (min-width: 768px) {

    .about {
        background-color: green;
    }

}

@media (min-width: 992px) {

    .about { 
        background-color: purple;
    }

}

@media (min-width: 1200px) {

    .about {

    }

}